* {
    margin: 0;
    padding: 0;
}

#logo {
    position: absolute;
    top: center;
    left: center;
}

#fundo-cabeçalho {
    text-align: center;
    width: 500px;
    height: 130px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border: 1px solid black
}

#titulo1 {
    text-align: center;
    margin: 10px;
}

#produto {
    font-family: Courier;
    font-size: large;
}

#preco {
    font-family: Courier;
    font-size: large;
}

#ingrediente {
    font-family: Courier;
    font-size: large;
}

#botao {
    font-size: 20px;
    background-color: rgb(65, 226, 15);
    border: 10;
    margin-bottom: 15px;
    padding: 10px;
    color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin: 15px;
}

#botao :hover {
    background: rgb(30, 255, 0);
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0);
    text-shadow: none;
}

input {
    border-radius: 5px;
    color: rgb(75, 75, 75);
    border: 1.5px solid saddlebrown;
    background-color: rgb(248, 193, 145);
    box-shadow: 2px 2px 2px rgb(167, 167, 167);
    padding: 10px;
}

header,footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 500px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgb(75, 75, 75);
    margin: 10px auto;
    border-radius: 30px;
}

#inputs {
    text-align: center;
}